{% extends "base.html" %}




{% block content %}
<div class="row mt-2">
    <img src="/{{item['img']}}/" alt="">
</div>
<br>
<div class="row mt-1">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item['name']}}</h5>
          <p class="card-text">{{item['desc']}}</p>
          <a href="#" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#editModal">Edit</a>
          <a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{url_for('about_item',id=item['id'])}}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFile" name="file">
                </div>
                <div class="mb-3">
                    <label for="name" class="col-form-label">Name: </label>
                    <input type="text" class="form-control" name="name" id="name" value="{{item['name']}}">
                </div>
                <div class="mb-3">
                    <label for="desc" class="col-form-label">Description: </label>
                    <textarea type="text" class="form-control" name="desc" id="desc" value="{{item['desc']}}" placeholder="{{item['desc']}}"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>


<script>
    $("#deleteButton").click(function(){
        $.ajax({
            type:'DELETE',
            url:'/delete/{{item["id"]}}',
            success: function(res){
                alert('Successfully deleted item')
                window.location = res;
            }
        })
    })
</script>
<!-- {{item}} -->

{% endblock %}